body{
    background-image: url("../img/windows-xp.jpg");
    margin: 0;
}
.dossier{
    width: 4%;
    margin-left: 48%;
    margin-top: 15%;
}
.titre{
    font-size: medium;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;

}
a{
    text-decoration: none;
}
#navbar{
    width: 100%;
    height: 50px;
    background-color: #235CDB;
    bottom: 0;
    position: fixed;
    overflow: hidden;
}
.logo_windows{
    height: 50px;
}
.sous-menu{
    width: 100%;
}
.ligne{
    background-color: blue;
    color: white;
}
.conteneur-menu{
    bottom: 0;
    position: fixed;
    margin-bottom: 35px;
}
.fichier{
    background-color: white;
    width: 50%;
    margin-left: 25%;
    height: 600px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 4px solid #005CF5;
    margin-top: 3%;
}
.fichier_titre{
    color: aliceblue;
    margin: auto;
}
.navbar_dossier{
    display: flex;
    background-color: #005CF5;
    justify-content: space-between;
    height: 50px;
}
.div_fichier_titre{
    margin-top: 10px;
}
.fichier_etc{
    display: flex;
    width: 25%;
}
.diminuer{
    width: 30%;
    border: 1px solid aliceblue;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
.agrandir{
    width: 30%;
    border: 1px solid aliceblue;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    margin-left: 3px;
    margin-right: 3px;
}
.fermer{
    width: 30%;
    background-color: red!important;
    border: 1px solid aliceblue;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
}
.dossier_navbar{
    width: 10%;
    color: white;
    background-color: blue;
}


.logo_windows:hover{
    opacity: 80%;
    border: 1px solid gray;
    border-radius: 5px;

}
.dossier:hover{
    opacity: 90%;
    border: 1px solid gray;
    border-radius: 5px;
}

a:hover{
    opacity: 90%;
}