body{
    background-image: url("../img/windows-xp.jpg");
    margin: 0;
}
.dossier{
    width: 4%;
    margin-left: 48%;
    margin-top: 15%;
}
.titre{
    font-size: medium;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;

}
a{
    text-decoration: none;
}
#navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(0, 89, 255);
    bottom: 0;
    position: fixed;
    overflow: hidden;
}
.logo_windows{
    height: 50px;
}
.sous-menu{
    width: 100%;
}
.ligne{
    background-color: blue;
    color: white;
}
.conteneur-menu{
    bottom: 0;
    position: fixed;
    margin-bottom: 35px;
}


.logo_windows:hover{
    opacity: 80%;
    border: 1px solid gray;
    border-radius: 5px;

}
.dossier:hover{
    opacity: 90%;
    border: 1px solid gray;
    border-radius: 5px;
}

a:hover{
    opacity: 90%;
}