body{
    background-image: url("../img/windows-xp.jpg");
    margin: 0;
    background-origin: content-box;
    background-attachment: fixed;
    background-size: cover;
}

/*INITIAL LOADER STYLES*/
.loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.logo {
    width: 220px;
    margin: 50px auto;
}

.logo p {
    margin: 0;
    padding: 0;
}

.logo-top {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
}

.logo-top::after {
    content: "\00a9";
    font-size: 10px;
    position: relative;
    top: -5px;
    margin-left: 2px;
}

.logo-middle {
    font-size: 46px;
    font-weight: 700;
    line-height: 36px;
}

.logo-middle span {
    font-size: 22px;
    display: inline-block;
    vertical-align: top;
    color: #FF6821;
    margin-top: -8px;
}

.logo-bottom {
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-left: 5px !important;
}

.loader {
    width: 150px;
    height: 18px;
    border: 2px solid #b2b2b2;
    border-radius: 7px;
    margin: 0 auto;
    padding: 2px 1px;
    overflow: hidden;
    font-size: 0;
}

.loader span {
    width: 9px;
    height: 100%;
    background: linear-gradient(to bottom, #2838c7 0%, #5979ef 17%, #869ef3 32%, #869ef3 45%, #5979ef 59%, #2838c7 100%);
    display: inline-block;
    margin-right: 2px;
    animation: loader 2s infinite;
    animation-timing-function: linear;

}

@keyframes loader {
    from {
        transform: translate(-30px)
    }

    to {
        transform: translate(150px)
    }
}
.loader-wrapp {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    z-index: 99999;
}



/* Desktop screen */



.dossier{
    width: 50px;
    margin-left: 48%;
    margin-top: 15%;
}
.titre{
    font-size: medium;
    text-align: center;
    color: white;
    text-shadow: 1px 1px black;

}
a{
    text-decoration: none;
}

/* NAVBAR  */

#navbar{
    width: 100%;
    height: 40px;
    background-image: linear-gradient(180deg, #63a9f5 0%, #2357d4 15%, rgba(16, 53, 142, 1) 90%);
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 9999 !important;
}
.logo_windows{
    height: 40px;
}
.sous-menu{
    width: 100%;
}
.ligne{
    background-color: blue;
    color: white;
}
.conteneur-menu{
    bottom: 0;
    position: fixed;
    margin-bottom: 35px;
}
.logo-vert{
    width: 165px;
    background-image: linear-gradient(180deg, #85bb84 0%, #459b43 10%, #419444 30%, #3bac3a 70%, #459b43 90%);

    display: flex;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 40px;
}
.start{
    color: white;
    font-size: large;
    margin: auto;
}

/* DOSSIER */

.fichier{
    background-color: white;
    width: 50%;
    margin-left: 25%;
    height: 600px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 3%;
}
.fichier_titre{
    color: aliceblue;
    margin: auto;
}
.navbar_dossier{
    display: flex;
}
.div_fichier_titre{
    margin-top: 10px;
}
.fichier_etc{
    display: flex;
    width: 25%;
}
.title-bar{
    width: 100%;
}
.dossier_navbar{
    width: 10%;
    color: white;
    background-color: blue;
}

/* Navbar bleu clair */

.blur-right-bar {
    width: 144px;
    display: flex;
    align-items: center;
    background: #0F8AE7;
    background-image: linear-gradient(180deg, #63a9f5 0%, #0F8AE7 90%, #63a9f5 100%);
    padding-left: 10px;
}

.blur-right-bar-applications {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.blur-right-bar-applications li {
    list-style-type: none;
    display: block;
    width: 20px;
    margin-right: 10px;
    padding: 2px;
    cursor: pointer;
}

.blur-right-bar-applications li img {
    display: block;
    width: 100%;
}

.time {
    font-size: 13px;
    color: white;
    font-weight: bold;
}

/* HOVER */
.blur-right-bar-applications li:hover {
    list-style-type: none;
    display: block;
    width: 20px;
    background: rgba(210, 210, 210, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}
.logo-vert:hover{
    opacity: 90%;
    cursor: pointer;

}
.dossier:hover{
    opacity: 90%;
    border: 1px solid gray;
    border-radius: 5px;
}
a:hover{
    opacity: 90%;
}